

{% block card %}
<div class="row h-4 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <div class="col-lg-4 col-12">
        <img src="{{ img }}" class="img-fluid rounded" alt="event-img"/>
    </div>
    <div class="col-lg-4 col-6 mt-lg-0 mt-3">
        <p class="fs-4">{{bandName}}</p>
        <p class="fs-5"><i class="bi bi-geo-alt-fill"></i> {{theaterName}}</p>
        <p></p>
        <p>{{address1}}<br>{{address2}}</p>
    </div>
    <div class="col-lg-4 col-6 mt-lg-0 mt-3 text-end text-primary-emphasis">
        <p class="text-primary-emphasis fw-bold fs-5">{{date}}</p>
        <p class="text-primary-emphasis fw-bold fs-4">{{time}}</p>
        <a type="button" class="btn btn-outline-primary" href={{pagelink}} target="_blank"><i class="bi bi-ticket-detailed-fill"></i> Find Tickets</a>
    </div>
</div>

{% endblock %}