<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticketmaster Final Matt Herbst</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" >
    <div class="container">
  <a class="navbar-brand" href="#">TicketFinder</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav">
        <li class="nav-item">
      <a class="nav-item nav-link active" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
      <a class="nav-item nav-link" href="{% url 'searchPage' %}">Search</a>
        </li>
            <li class="nav-item">
      <a class="nav-item nav-link" href="{% url 'loadTickets' %}">Saved Tickets</a>
       </li>
    </div>
  </div>
    </div>
</nav>

<div class="topBar bg-dark p-lg-5 p-0 mb-3">
    <div class="text-center text-light container-fluid" id="topText">
        <p class="fs-1">TicketFinder</p>
        <p class="fs-3 fw-bold">Manage and find tickets around you!</p>
        <p class="fs-5 fw-bold">Power by Ticketmaster</p>
    </div>
    <div>
    </div>
</div>
<div class="container shadow-lg p-lg-5 pt-3">
    <div class="row">
    <div class="col-12 text-center">
        <h1 class="">Saved Tickets:</h1>
        <p class="fs-3">{{savedTicketsCount}}</p>
        <p><hr></p>
    </div>
    </div>
    <div class="row">
    <div class="col-12">
        <h3 class="d-inline">Notes:</h3>
        <a type="button" href="{% url 'createNewNote' %}" class="d-inline float-end btn btn-primary">Create Note</a>
        <p><hr></p>
    </div>
        {% for note in notes %}
        <div class="col-12">
        <h3>{{ title }}</h3>
        <p>{{ text }}</p>
        </div>
        {% endfor %}

    </div>

</div>
</body>
</html>