<!DOCTYPE html >
<html lang="en" data-bs-theme= "light">
<head>
    <meta charset="UTF-8">
    <title>Ticketmaster Final Matt Herbst</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top" >
    <div class="container">
        <a class="navbar-brand" href="#">TicketFinder</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-item nav-link active" href="{% url 'home' %}">Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{% url 'searchPage' %}">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{% url 'loadTickets' %}">Saved Tickets</a>
                </li>
            </div>
        </div>
        <div class="form-check form-switch">
  <input id="Darkmode" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" onchange="darkmodeSet()">
  <label class="form-check-label" for="flexSwitchCheckDefault">Dark Mode</label>
</div>
    </div>
</nav>

<div class="topBar p-lg-5 p-0 mb-3">
    <div class="text-center container-fluid" id="topText">
        <p class="fs-1">TicketFinder</p>
        <p class="fs-3 fw-bold">Manage and find tickets around you!</p>
        <p class="fs-5 fw-bold">Power by Ticketmaster</p>
    </div>
    <div>
    </div>
</div>
<div class="container shadow-lg p-lg-5 pt-3">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="">Saved Tickets:</h1>
            <p class="fs-3">{{ savedTicketsCount }}</p>
            <p>
            <hr>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3 class="d-inline">Notes:</h3>
            <a type="button" href="{% url 'createNewNote' %}" class="d-inline float-end btn btn-primary">Create Note</a>
            <p>
            <hr>
            </p>
        </div>
        {% for note in notes %}
            <div id="Note{{ note.id }}" class="row h-4 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                <div class="col-6 d-inline">
                    <h3>{{ note.title }}</h3>
                </div>
                <div class="col-6 d-inline">
                    <div class="float-end">
                    <a class="btn btn-warning mr-2" href="{% url 'updateNote' note.id %}">Update Note</a>
                        <button class="btn btn-danger" onclick="deleteNote('{% url 'deleteNote'  note.id  %}', '{{ note.id }}')">Delete Note</button>
                    </div>
                </div>
                <div class="col-12 mt-3 shadow-lg rounded text-wrap">
                    <p class="text-break">{{ note.note }}</p>
                </div>

            </div>
        {% endfor %}

    </div>

</div>
 <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script>
    window.onload=function (){
        darkmodeSwitchSet()
    }

    function darkmodeSwitchSet(){
        let darkmodeCookie = decodeURIComponent(document.cookie);
        var darkModeSwitch = document.getElementById("Darkmode");

        if(darkmodeCookie.includes("true")){
            darkModeSwitch.checked = true;
            console.log("Cookie returned true");
            darkmodeChanger(true);
        }else{
            darkModeSwitch.checked = false;
            console.log("Cookie returned false");
            darkmodeChanger(false);
        }
    }
    function darkmodeSet(){
        var darkModeSwitch = document.getElementById("Darkmode")
        if (darkModeSwitch.checked){
            document.cookie = "darkModeEnable= true; path=/"
            console.log("darkmodeSet Says:"+document.cookie)
            darkmodeChanger(true);
        }else{
            darkModeCheck = false;
            document.cookie = "darkModeEnable= false; path=/"
            console.log("darkmodeSet Says:"+document.cookie)
            darkmodeChanger(false);
        }
    }

    function darkmodeChanger(state){
        if(state){
            document.documentElement.setAttribute('data-bs-theme', 'dark');
        }else{
            document.documentElement.setAttribute('data-bs-theme', 'light');
        }

    }




    function deleteNote(url,id){
    console.log("delete run");
$.ajax({
    url:url,
    type: 'GET',
    success: function (response) {
        alert(response.message);
        if(response.deleted){
           $('#Note'+id).remove();
        }
    }
    })
}
</script>

</body>
</html>