<!DOCTYPE html>
<html lang="en" data-bs-theme= "light">
<head>
    <meta charset="UTF-8">
    <title>Ticketmaster Final Matt Herbst</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top" >
    <div class="container">
  <a class="navbar-brand" href="#">TicketFinder</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav">
        <li class="nav-item">
      <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
      <a class="nav-item nav-link" href="{% url 'searchPage' %}">Search</a>
        </li>
            <li class="nav-item">
      <a class="nav-item nav-link active" href="{% url 'loadTickets' %}">Saved Tickets <span class="sr-only">(current)</span></a>
       </li>
    </div>
  </div>
       <div class="form-check form-switch">
  <input id="Darkmode" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" onchange="darkmodeSet()">
  <label class="form-check-label" for="flexSwitchCheckDefault">Dark Mode</label>
</div>
    </div>
</nav>

<div class="topBar p-lg-5 p-0 mb-3">
    <div class="text-center container-fluid" id="topText">
        <p class="fs-1">Saved Tickets</p>
    </div>
    <div>
    </div>
</div>
<!-- Displays number of tickets saved -->
<div class="container shadow-lg p-lg-5 pt-3" id="results">
        <div class="row fs-5 fw-semibold text-secondary">
        <div class="col-12">
            <p id="message"></p>
            <p style="display: none" id="countVal">{{ message_count }}</p> <!-- My trick to pass the count from views -->
        </div>

        {% if not tickets %}
           <div class="row fs-5 fw-semibold text-secondary">
        <div class="col-12 text-center">
            <h1>No Tickets are saved</h1>
        </div>
        {% endif %}


    {% for ticket in tickets %}
        <div id="ticket-{{ ticket.ticket_id }}"  class="row h-4 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
            <div class="col-lg-4 col-12">
                <img src="{{ ticket.event_imageUrl }}" class="img-fluid rounded" alt="event-img"/>
            </div>
            <div class="col-lg-4 col-6 mt-lg-0 mt-3">
                <p class="fs-4">{{ ticket.event_name }}</p>
                <p class="fs-5"><i class="bi bi-geo-alt-fill"></i> {{ ticket.theater_name }}</p>
                <p></p>
                <p>{{ ticket.theater_address1 }}<br>{{ ticket.theater_address2 }}</p>
            </div>
            <div class="col-lg-4 col-6 mt-lg-0 mt-3 text-end text-primary-emphasis">
                <p class="text-primary-emphasis fw-bold fs-5">{{ ticket.event_Date }}</p>
                <p class="text-primary-emphasis fw-bold fs-4">{{ ticket.event_Time }}</p>
                <a type="button" class="btn btn-outline-primary" href={{ ticket.event_url }} target="_blank"><i
                        class="bi bi-ticket-detailed-fill"></i> View Ticket</a>
                <a type="button" class="btn btn-outline-primary" onclick="deleteTicket('{% url 'deleteTicket'  ticket.ticket_id  %}', '{{ ticket.ticket_id }}','{% url 'deleteAllNotes' ticket.ticket_id  %}')"><i class="bi bi-save"></i> Delete Ticket</a>
            </div>
           <div class="row">
        <div class="col-12">
            <hr>
            <h3 class="d-inline">Notes:</h3>
            <a type="button" href="{% url 'createNewNote' ticket.ticket_id %}" class="d-inline float-end btn btn-primary">Create Note</a>
            <p>
            <hr>
            </p>
        </div>
                <div class="col-12">
                  {% for note in notes %}
                      {% if note.ticket_id == ticket.ticket_id %}
            <div id="Note{{ note.id }}" class="row h-4 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                <div class="col-6 d-inline">
                    <h3>{{ note.title }}</h3>
                </div>
                <div class="col-6 d-inline">
                    <div class="float-end">
                    <a class="btn btn-warning mr-2" href="{% url 'updateNote' note.id %}">Update Note</a>
                        <button class="btn btn-danger" onclick="deleteNote('{% url 'deleteNote'  note.id  %}', '{{ note.id }}')">Delete Note</button>
                    </div>
                </div>
                <div class="col-12 mt-3 shadow-lg rounded text-wrap">
                    <p class="text-break">{{ note.note }}</p>
                </div>

            </div>
                      {% endif %}
        {% endfor %}
            </div>
        </div>
    {% endfor %}
            </div>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script>
    window.onload=function (){
        darkmodeSwitchSet()
    }

    function darkmodeSwitchSet(){
        let darkmodeCookie = decodeURIComponent(document.cookie);
        var darkModeSwitch = document.getElementById("Darkmode");

        if(darkmodeCookie.includes("true")){
            darkModeSwitch.checked = true;
            console.log("Cookie returned true");
            darkmodeChanger(true);
        }else{
            darkModeSwitch.checked = false;
            console.log("Cookie returned false");
            darkmodeChanger(false);
        }
    }
    function darkmodeSet(){
        var darkModeSwitch = document.getElementById("Darkmode")
        if (darkModeSwitch.checked){
            document.cookie = "darkModeEnable= true; path=/"
            console.log("darkmodeSet Says:"+document.cookie)
            darkmodeChanger(true);
        }else{
            darkModeCheck = false;
            document.cookie = "darkModeEnable= false; path=/"
            console.log("darkmodeSet Says:"+document.cookie)
            darkmodeChanger(false);
        }
    }

    function darkmodeChanger(state){
        if(state){
            document.documentElement.setAttribute('data-bs-theme', 'dark');
        }else{
            document.documentElement.setAttribute('data-bs-theme', 'light');
        }

    }





    //Sets the inital variable for numberr of tickets
    window.onload(setInitalCount(),ticketValMessage())
    function setInitalCount(){
        console.log("Inital count set")
        ticket_count = parseInt($('#countVal').text())
        console.log("Ticket count val "+ ticket_count);
    }

    //Gets called initally on load of body
    function ticketValMessage(){
    console.log("Tickets count "+ticket_count)
        $('#message').text("Tickets saved "+ticket_count)
    }

function deleteTicket(url,id,noteUrl){
    console.log("delete run");
    try{
        deleteAllNotes(noteUrl);
    }catch (e){
        console.log(e);
    }
     $.ajax({
    url:url,
    type: 'GET',
    success: function (response) {
        alert(response.message);
        if(response.deleted){
           $('#ticket-'+id).remove();
           //when ticket removed the count is decreased by 1 and the funtion to update the message is called
           ticket_count = ticket_count -1
            ticketValMessage()
        }
    }
    });
}

    function deleteNote(url,id){
    console.log("delete run");
$.ajax({
    url:url,
    type: 'GET',
    success: function (response) {
        alert(response.message);
        if(response.deleted){
           $('#Note'+id).remove();
        }
    }
    })
}

 function deleteAllNotes(noteurl){
        console.log("delete all notes for ticket id run");
$.ajax({
    url:noteurl,
    type: 'GET',
    success: function (response) {
        console.log(response);
    }
    });
 }



</script>


    {% block body %}
    {% endblock %}

</body>
</html>