<!DOCTYPE html>
<html lang="en" data-bs-theme= "light">
<head>
    <meta charset="UTF-8">
    <title>New Note</title>
        {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<form action="{% if form.instance.id %} {% url 'updateNote' form.instance.id %} {% else%} {% url 'createNewNote' %} {% endif %}" method="post">
    {% csrf_token %}
<div class="topBar p-lg-5 p-0 mb-3">
    <div class="text-center container-fluid" id="topText">
        <p id="title" class="fs-1">{{ title.title }}</p>
              <button type="submit" class="btn btn-primary">Save Note</button>
                <button type="button" class="btn btn-primary" onclick="clearText()">Clear Text</button>
                <a class="btn btn-danger" href="{% url 'home' %}">Cancel</a>
            </div>
        </div>
    </div>
    </div>

        <div class="row h-4 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
            <div class="col-12 mb-2">
                <label class="mb-1">Title:</label>
                {{ form.title }}
            </div>
            <div class="col-12">
                <label class="mb-1">Note:</label>
                {{ form.note }}
            </div>
        </div>
</form>
<script>
        window.onload=function (){
        darkmodeSwitchSet()
    }

    function darkmodeSwitchSet(){
        let darkmodeCookie = decodeURIComponent(document.cookie);

        if(darkmodeCookie.includes("true")){
            console.log("Cookie returned true");
            darkmodeChanger(true);
        }else{
            console.log("Cookie returned false");
            darkmodeChanger(false);
        }
        }

    function darkmodeChanger(state){
        if(state){
            document.documentElement.setAttribute('data-bs-theme', 'dark');
        }else{
            document.documentElement.setAttribute('data-bs-theme', 'light');
        }

    }


    function clearText(){
        console.log("Clear Text clicked");
        const noteArea = document.getElementById("noteArea");
        noteArea.value = "";
    }
</script>

</body>
</html>