<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticketmaster Final Matt Herbst</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<div class="topBar bg-dark p-lg-5 p-0 mb-3">
    <div class="text-center text-light container-fluid" id="topText">
        <p class="fs-1">Ticketmaster</p>
        <p class="fs-3 fw-bold">Saved Tickets</p>
    </div>
    <div>
    </div>
</div>
<!-- This div is a placeholder for the information coming from the API -->
<div class="container shadow-lg p-lg-5 pt-3" id="results">

    {% if not message == "" %}
        <div class="row fs-5 fw-semibold text-secondary">
        <div class="col-12">
            <p>{{message}}</p>
        </div>
    {% endif %}



    {% for ticket in tickets %}
        <div class="row h-4 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
            <div class="col-lg-4 col-12">
                <img src="{{ ticket.event_imageUrl }}" class="img-fluid rounded" alt="event-img"/>
            </div>
            <div class="col-lg-4 col-6 mt-lg-0 mt-3">
                <p class="fs-4">{{ ticket.event_name }}</p>
                <p class="fs-5"><i class="bi bi-geo-alt-fill"></i> {{ ticket.theater_name }}</p>
                <p></p>
                <p>{{ ticket.theater_address1 }}<br>{{ ticket.theater_address2 }}</p>
            </div>
            <div class="col-lg-4 col-6 mt-lg-0 mt-3 text-end text-primary-emphasis">
                <p class="text-primary-emphasis fw-bold fs-5">{{ ticket.event_ConvertedDate }}</p>
                <p class="text-primary-emphasis fw-bold fs-4">{{ ticket.event_ConvertedTime }}</p>
                <a type="button" class="btn btn-outline-primary"><i
                        class="bi bi-ticket-detailed-fill"></i> View Ticket</a>
                <a type="button" class="btn btn-outline-primary"><i class="bi bi-save"></i> Delete Ticket</a>
            </div>
        </div>
    {% endfor %}

    </div>

    {% block body %}
    {% endblock %}

</body>
</html>