<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticketmaster Final Matt Herbst</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" >
    <div class="container">
  <a class="navbar-brand" href="#">TicketFinder</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav">
        <li class="nav-item">
      <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
      <a class="nav-item nav-link active" href="{% url 'searchPage' %}">Search <span class="sr-only">(current)</span></a>
        </li>
            <li class="nav-item">
      <a class="nav-item nav-link" href="{% url 'loadTickets' %}">Saved Tickets</a>
       </li>
    </div>
  </div>
    </div>
</nav>

<div class="topBar bg-dark p-lg-5 p-0 mb-3">
    <div class="text-center text-light container-fluid" id="topText">
        <p class="fs-1">Ticketmaster Search</p>
        <p class="fs-3 fw-bold">Quickly Find tickets around you</p>
    </div>
    <div>
        <form action="{% url 'search' %}" class="container-fluid" method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
                {{ search_form.state }}
                {{ search_form.genre }}
                <datalist id="datalistOptions">
                    <option value="Music">
                    <option value="Sports">
                    <option value="Theater">
                    <option value="Family">
                    <option value="Arts&Theater">
                    <option value="Concerts">
                    <option value="Comedy">
                    <option value="Dance">
                </datalist>
                {{ search_form.city }}
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>

    <div class="mt-2 pb-2" id="alertArea">

    </div>

</div>
<!-- This div is a placeholder for the information coming from the API -->
<div class="container shadow-lg p-lg-5 pt-3" id="results">

    {% if not message == "" %}
        <div class="row fs-5 fw-semibold text-secondary">
        <div class="col-12">
            <p>{{message}}</p>
        </div>
    {% endif %}



    {% for ticket in tickets %}
        <div class="row h-4 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
            <div class="col-lg-4 col-12">
                <img src="{{ ticket.event_imageUrl }}" class="img-fluid rounded" alt="event-img"/>
            </div>
            <div class="col-lg-4 col-6 mt-lg-0 mt-3">
                <p class="fs-4">{{ ticket.event_name }}</p>
                <p class="fs-5"><i class="bi bi-geo-alt-fill"></i> {{ ticket.theater_name }}</p>
                <p></p>
                <p>{{ ticket.theater_address1 }}<br>{{ ticket.theater_address2 }}</p>
            </div>
            <div class="col-lg-4 col-6 mt-lg-0 mt-3 text-end text-primary-emphasis">
                <p class="text-primary-emphasis fw-bold fs-5">{{ ticket.event_ConvertedDate }}</p>
                <p class="text-primary-emphasis fw-bold fs-4">{{ ticket.event_ConvertedTime }}</p>
                <a type="button" class="btn btn-outline-primary" href={{ ticket.event_url }} target="_blank"><i
                        class="bi bi-ticket-detailed-fill"></i> View Ticket</a>
                <!--  <input type="hidden" id="event_name" name="event_name" value="{ ticket.event_name  }}">
                <input type="hidden" id="event_url" name="event_url" value="{ ticket.event_url  }}">
                <input type="hidden" id="theater_name" name="theater_name" value="{ ticket.theater_name  }}">
                <input type="hidden" id="theater_address1" name="theater_address1" value="{ ticket.theater_address1  }}">
                <input type="hidden" id="theater_address2" name="theater_address2" value="{ ticket.theater_address2  }}">
                <input type="hidden" id="event_imageUrl" name="event_imageUrl" value="{ ticket.event_imageUrl  }}">
                <input type="hidden" id="event_ConvertedDate" name="event_ConvertedDate" value="{ ticket.event_ConvertedDate  }}">
                <input type="hidden" id="event_ConvertedTime" name="event_ConvertedTime" value="{ ticket.event_ConvertedTime  }}">
                <input type="hidden" id="ticket_id" name="ticket_id" value="{ ticket.ticket_id  }"> -->

                <button onclick="saveTicket('{{ ticket.event_name }}','{{ ticket.event_url  }}','{{ ticket.theater_name  }}','{{ ticket.theater_address1  }}','{{ ticket.theater_address2  }}','{{ ticket.event_imageUrl  }}','{{ ticket.event_ConvertedDate  }}','{{ ticket.event_ConvertedTime  }}','{{ ticket.ticket_id  }}')" id="saveButton" class="btn btn-outline-primary"><i class="bi bi-save"></i> Save Ticket</button>
            </div>
        </div>
    {% endfor %}

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script>
    function saveTicket(eventName,eventUrl,theaterName,theaterAddress1,theaterAddress2,eventImageUrl,eventConvertedDate,eventConvertedTime,ticketId){
        console.log("Save ticket ran")


        $.ajax({
            type: 'POST',
            url: {% url 'savedTickets' %},
            data: {
                event_name: eventName,
            event_url: eventUrl,
            theater_name: theaterName,
            theater_address1: theaterAddress1,
            theater_address2: theaterAddress2,
            event_imageUrl: eventImageUrl,
            event_ConvertedDate: eventConvertedDate,
            event_ConvertedTime: eventConvertedTime,
            ticket_id: ticketId,
            csrfmiddlewaretoken: '{{ csrf_token }}'
            },
        })
            .done((data) => {
                alert(data.message);
            })
            .fail((err) => {
                alert("Ticket Failed to save: ",err);
            })
    }

</script>


{% block body %}
{% endblock %}

</body>
</html>